# User-specific files
*.suo
*.user

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in
[Oo]bj
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
.builds
.nupkg

# ReSharper 
_ReSharper*

